<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Runnable.Order_Wine</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Add_Product_Cart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Decrease_Bottle_QTY</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Bill_Zip_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Order_Place_With_New_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Back_To_Order_Verify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Increase_Bottle_QTY</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>City_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Credit_Card_Name_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Credit_Card_Number_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Exp_Date_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_Cart_QTY_Total</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CVV_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Remove_Bottle_QTY</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>State_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Order_Place_With_Existing_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Address1_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Address_Zipcode_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
