<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Add_Product_Cart()[pri:2, instance:Runnable.Order_Wine@3c0ecd4b]">Add_Product_Cart</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:38</td>   <td>18234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Address1_Validate()[pri:8, instance:Runnable.Order_Wine@3c0ecd4b]">Address1_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:51</td>   <td>31591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Address_Zipcode_Validate()[pri:11, instance:Runnable.Order_Wine@3c0ecd4b]">Address_Zipcode_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:23:56</td>   <td>-23685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Back_To_Order_Verify()[pri:1, instance:Runnable.Order_Wine@3c0ecd4b]">Back_To_Order_Verify</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:25:04</td>   <td>44242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Bill_Zip_Validate()[pri:16, instance:Runnable.Order_Wine@3c0ecd4b]">Bill_Zip_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:25:02</td>   <td>42037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.CVV_Validate()[pri:15, instance:Runnable.Order_Wine@3c0ecd4b]">CVV_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:46</td>   <td>26698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.City_Validate()[pri:9, instance:Runnable.Order_Wine@3c0ecd4b]">City_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:53</td>   <td>33612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Credit_Card_Name_Validate()[pri:12, instance:Runnable.Order_Wine@3c0ecd4b]">Credit_Card_Name_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:57</td>   <td>37646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Credit_Card_Number_Validate()[pri:13, instance:Runnable.Order_Wine@3c0ecd4b]">Credit_Card_Number_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:24</td>   <td>4929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Decrease_Bottle_QTY()[pri:4, instance:Runnable.Order_Wine@3c0ecd4b]">Decrease_Bottle_QTY</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:59</td>   <td>39883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Exp_Date_Validate()[pri:14, instance:Runnable.Order_Wine@3c0ecd4b]">Exp_Date_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:22</td>   <td>2962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Increase_Bottle_QTY()[pri:3, instance:Runnable.Order_Wine@3c0ecd4b]">Increase_Bottle_QTY</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:34</td>   <td>14971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Order_Place_With_Existing_Details()[pri:7, instance:Runnable.Order_Wine@3c0ecd4b]">Order_Place_With_Existing_Details</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:25:09</td>   <td>49763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Order_Place_With_New_Details()[pri:17, instance:Runnable.Order_Wine@3c0ecd4b]">Order_Place_With_New_Details</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:25</td>   <td>5986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Remove_Bottle_QTY()[pri:5, instance:Runnable.Order_Wine@3c0ecd4b]">Remove_Bottle_QTY</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:48</td>   <td>28474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.State_Validate()[pri:10, instance:Runnable.Order_Wine@3c0ecd4b]">State_Validate</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:24:28</td>   <td>8466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Order_Wine.Verify_Cart_QTY_Total()[pri:6, instance:Runnable.Order_Wine@3c0ecd4b]">Verify_Cart_QTY_Total</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:25:14</td>   <td>54517</td> <td>&nbsp;</td><td title="&lt;&lt;Order_Wine.aftertest()[pri:0, instance:Runnable.Order_Wine@3c0ecd4b]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/01/04 16:23:48</td>   <td>-31307</td> <td>&nbsp;</td><td title="&gt;&gt;Order_Wine.befortest()[pri:0, instance:Runnable.Order_Wine@3c0ecd4b]">&gt;&gt;befortest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
</table>
