<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>General.contact_us</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>invalidEmailAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>contactMandatoryValidate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>contactSubmitSuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Runnable.Update_Password_Verification</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Updated_Password_Verification</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Runnable.Quiz_validation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>StartQuiz</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Runnable.Shipment_Validation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Wine_Preference_Price_Range_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Credit_Card_Name_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Credit_Card_Number_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Exp_Date_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Bill_Zip_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Wine_Preference_Shipment_Per_Year_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CVV_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Wine_Preference_Bottle_Per_Ship_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>City_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>State_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Address1_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Address_Zipcode_Validate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Runnable.Register_validation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>invalid_mobile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>terms_not_accept</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>blank_register_data</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Login.Login_FP_Validation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>forgot_password_email_blank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>blank_login_data</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>forgot_password_email_invalid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login_usr_not_found</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>forgot_password_user_not_found</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Master.Result_Email_Notification</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Runnable.Account_Setting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_Email_Address_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Profile_Info_Save_Success</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Password_Change_Successfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_All_Password_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>New_Confirm_Password_Mismatch_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Change_Password_Mandatory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_Current_Password_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_Mobile_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Profile_Info_Mandatory_Validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Existing_Data_Verify</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Runnable.register_complete</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>register</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Master.Final_Result</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FinalResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
